/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$yellow:#fecf07;
$orange:#ef5b57;
$purple:#aa619c;
$lpurple:#924d7e;
$dpurple:#a94892;
$darkblue:#3e4d64;
